body {
    width: 100%;
    height: 100%;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    font-family: "Varela Round", serif;
    overflow-x: hidden;
}

textarea,
input::placeholder {
    font-family: "Varela Round", serif;

    font-size: 15px;
}

textarea {
    border-radius: 5px;
    outline: transparent;
    border: transparent;
    padding-left: 15px;
    padding-top: 3px;
    padding-top: 10px;
    background-color: aliceblue;
    text-transform: capitalize  ;
}

h1 {
    color: white;
    font-size: 50px;
    margin-top: 60px;
    text-align: center;
    font-weight: 900;
    letter-spacing: 2px;
}

.post {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

input {
    background-color: aliceblue;
    border: transparent;
    outline: transparent;
    border-radius: 5px;
    width: 320px;
    height: 40px;
    margin-top: 0px;
    padding: 1px;
    padding-left: 15px;
    text-transform: capitalize;
}

button {
    border: transparent;
    outline: transparent;
    background-color: rgb(39, 112, 223);
    padding: 13px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    width: 170px;
    height: 40px;
}

button:hover {
    background-color: black;
    color: whitesmoke;
    transition: 2s;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 60px;
}

#content {
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.subpost {
    border: rgb(67, 188, 158) 2px solid;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    width: 600px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    box-shadow: rgba(1, 250, 192, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

h3 {
    color: white;
    font-family: "teko", serif;
    letter-spacing: 3px;
    text-align: center;
    text-transform: capitalize;
    font-size: 34px;
    margin: 0px;
    margin-top: 30px;

}

p {
    color: white;
    font-family: "sour gummy", serif;
    letter-spacing: 3px;
    text-transform: capitalize;
    padding: 20px;
    font-size: 18px;

}

#delete {
    border: transparent;
    outline: transparent;
    background-color: rgb(211, 57, 57);
    padding: 13px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    width: 170px;
    height: 40px;
}

#Update {
    border: transparent;
    outline: transparent;
    background-color: rgb(30, 192, 79);
    padding: 13px;
    border-radius: 20px;
    color: white;
    font-weight: 700;
    width: 170px;
    height: 40px;
}

#buttonarea {
    display: flex;
    gap: 20px;
}